.container
{
    width: 1170px;
    margin: auto;    
}

#header .navbar
{
    background-color: #252F31;
    font-weight: bold;
    color: #FFF;
    overflow: hidden;
    font-family: Alegreya; 
    border: 2px solid black;
    border-radius: 3px;
}

/*navbar left part start*/
#header .navbar .container .leftpart
{
    overflow: hidden;
    float: left;
}

#header .navbar .container .leftpart .logo
{  
    float: left;
    overflow: hidden;
}

#header .navbar .container .leftpart .logo img
{  
    float: left;
}
#header .navbar .container .leftpart .logo h2
{  
	margin-left: 15px;
    float: right;
    font-weight: bold;
    font-size: 25px;
}

#header .navbar .container .leftpart .leftlist
{  
    float: right;
    overflow: hidden;
    margin-left: 170px;
}

#header .navbar .container .leftpart ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: left;
}

#header .navbar .container .leftpart .leftlist ul li
{
    float: left;
    padding: 10px 20px;
}

/*navbar left part end*/

/*navbar right part start*/

#header .navbar .container .rightpart
{
    float: right;
}

#header .navbar .container .rightpart ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

#header .navbar .container .rightpart ul li
{
    float: left;
    padding: 10px 20px;
    background-color: #F1C300;
   	border: 1px solid white;
    border-radius: 7px;
    font-style: italic;
}

#header .navbar .container .rightpart ul .login
{
	margin-right: 3px;
    
}

#header .navbar .container .rightpart ul .register
{
	margin-left: 3px;
}
/*navbar right part end*/

#header .slider
{
    background-image: url('https://www.cmacgm-group.com/api//sites/default/files/2018-11/talent_findyourdreamjob_1920.jpg');
    background-size: cover; 
    height: 600px;
}

#header .slider .container .intro
{
    padding-top:200px;
    text-align: center;
    color: #FFF;
}

#header .slider .container .intro h2
{
    margin: 0 auto;
    font-size: 50px;
    font-family: cambria;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    color: #FFF;
}



#header .slider .container .intro button
{
    background: none;
    margin-top:30px;
    font-family: cambria;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 10px 30px;
}
