.container
{
    max-width: 1870px;
    margin: auto;    
    align-items: center;
}

/*header start*/

#header .navbar
{
    background-color: #252F31;
    font-weight: bold;
    color: #FFF;
    overflow: hidden;
    font-family: Alegreya; 
    border: 2px solid black;
    border-radius: 3px;
    opacity: 0.9;
}

#header .navbar .container a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
}

#header .navbar .container a:hover
{
   color: #F1C300;
}

.fixnav {
  position: fixed;
  top: 0;
  width: 100%;
}

/*navbar left part start*/
#header .navbar .container .leftpart
{
    overflow: hidden;
    float: left;
}

#header .navbar .container .leftpart .logo
{  
    float: left;
    overflow: hidden;
}

#header .navbar .container .leftpart .logo img
{  
    float: left;
    margin-top: 10px;
}
#header .navbar .container .leftpart .logo h2
{  
    margin: 14px 0 0 7px;
    float: right;
    font-weight: bold;
    font-size: 25px;   
    border-radius: 25px;
    padding: 7px;
    background-color: black;
}

#header .navbar .container .leftpart .logo h2 .red 
{
    color: red;
}

#header .navbar .container .leftpart .logo h2 .green
{
    color: green;
}

#header .navbar .container .leftpart .leftlist
{  
    float: right;
    overflow: hidden;
    margin-left: 130px;
    padding-top: 10px;
    margin-left: 100px;
    margin-top: 1px;
}

#header .navbar .container .leftpart ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: left;
}

#header .navbar .container .leftpart .leftlist ul li
{
    float: left;
    padding: 10px 20px;
    font-size: 19px;
}


/*navbar left part end*/

/*navbar right part start*/

#header .navbar .container .rightpart
{
    float: right;

    padding-top:10px;

    margin-top: 3px;
}

#header .navbar .container .rightpart ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

#header .navbar .container .rightpart ul li
{
    float: left;
    padding: 10px 20px;
    background-color: #F1C300;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px 20px;
    
}

#header .navbar .container .rightpart ul li a:hover
{
   color: black;
}

#header .navbar .container .rightpart ul .login
{
    margin-right: 25px;
}

#header .navbar .container .rightpart ul .register
{
    margin-left: 3px;
}

/*navbar right part end*/


/*slider start*/

#header .slider
{
    background-image: url('https://www.cmacgm-group.com/api//sites/default/files/2018-11/talent_findyourdreamjob_1920.jpg');
    background-size: cover;
    width: 100%;
    padding-bottom: 26%;
}

#header .slider .container .intro
{
    padding-top:200px;
    text-align: center;
    color: #FFF;
}

#header .slider .container .intro h2
{
    margin: 0 auto;
    font-size: 50px;
    font-family: cambria;
    font-style: italic;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    color: #FFF;
}

#header .slider .container .intro button
{
    background: none;
    margin-top:30px;
    font-family: cambria;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 10px 30px;
}

/*slider end*/

/*header end*/






/*content start*/

/*partners start*/

#partners
{
    text-align: center;
}

#partners .container h2
{
    font-weight: bold;
    font-size: 30px;
}

#partners .container p 
{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
}

#partners .container .complist 
{
    overflow: hidden;
}

#partners .container .complist div
{
    float: left;
    margin-bottom: 10px;
    width: 33.33%;
}

#partners .container .complist div:hover
{
  opacity: 0.3;
  cursor: pointer;
}

#partners .container .complist div img
{
    width: 90%;
    border: 1px solid black;
    padding: 3px;
}


/*partners end*/



/*alljobs start*/

#alljobs .container
{
    text-align: center;
}

#alljobs #jobsarea
{
    height: 400px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #F5F5F5;
    overflow: auto;
}

#alljobs #jobsarea .job-titles
{
    font-size: 20px;
    color: #D35400;
    background-color: #F9E79F;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    padding: 2px 8px;
}

#alljobs #jobsarea .job-descriptions
{
    font-size: 16px;
    background-color: #FEF9E7 ;
    margin: 0;
    padding: 10px 18px;
}
/*alljobs end*/

/*testimonials start*/

#testimonials
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #d9d9d9;     
}

#testimonials .container q
{
    font-weight: bold;
    font-style: italic;
    line-height: 2;
}

#testimonials .container h3
{
    margin-bottom: 28px;   
}

#testimonials .container ul
{
    list-style: none;
    padding-left: 0;  
}

#testimonials .container ul li
{
    display: inline-block;
    border: 2px solid red;
    border-radius: 5px;
    height: 17px;
    width: 17px;
}

#testimonials .container ul li.active
{
    background-color: red;
}

#testimonials .container ul li:hover
{
    background-color: red;
    cursor: pointer;
}

/*testimonials end*/


/*contact start*/

#contact
{
    background-color: #252F31;
    padding-top: 50px;
    padding-bottom: 70px;
    overflow: hidden;
    font-family: Alegreya;
}

#contact .container .info
{
    width: 50%;
    margin-right: 5%;
    float: left;
}

#contact .container .info h2
{
    color: #FFF;
    margin-left: 40px;
}

#contact .container .info p
{
    color: #5B6063;
    margin-left: 40px;
}

#contact .container .info p strong {color: #D1D6DA;}

#contact .container .form 
{
    float: left;
    width: 45%;
}

#contact .container .form label
{
    display: block;
    color: #D1D6DA;
    margin: 10px 0;
}



#contact .container .form input[type="text"]
{
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

#contact .container .form textarea
{
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}

#contact .container .form input[type="submit"]
{
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top:10px;
    border-radius: 7px;
}


/*contact end*/


/*login signup start*/

.login-form-container{
    width: 500px;
    margin: 70px auto;
    border-radius: 5px;
    border: 4px solid lightgrey;
}

.signup, .signin {
    width: 50%;
    height: 60px;
    background-color: #fff;
    float: left;  
    line-height: 60px;
    text-align: center; 
    cursor: pointer;
}

.signup-form, .signin-form {
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px;
    clear: both; 
    width: 100%;
    height: 400px;   
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
}

input:focus {
    border: 2px solid #D35400;
}

.btn {
    width: 100%;
    background-color: #E7E2B4; 
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

.forgot{
    text-decoration: none;
    color: black;
}

/*login signup end*/

/*jobs area star*/
#jobs{
    text-align: left;
    padding: 7px 15px;
    margin: 20px 2px;
}


.job-titles{
font-weight: bold;
margin-left: 10px;
margin-top: 80px;
}

.job-descriptions{
    margin-left: 20px;
    margin-top: 8px;
}

/*login signup end*/

/*content end*/
