@font-face {
    font-family: 'montserrat_subrayadabold';
    src: url('montserratsubrayada-bold-webfont.woff2') format('woff2'),
         url('montserratsubrayada-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserrat_subrayadaregular';
    src: url('montserratsubrayada-regular-webfont.woff2') format('woff2'),
         url('montserratsubrayada-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aclonicaregular';
    src: url('aclonica-webfont.woff2') format('woff2'),
         url('aclonica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	background-color: #EAEDED ;
}

.content h2 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #D35400;
	background-color: #F1C300;
	padding: 20px 50px;
	border-radius: 10px;
	margin: 10px 0px 25px 0px;
	font-size: 36px;
	font-family: montserrat_subrayadabold;
	line-height: 50px;
}



.info-form-container{
    width: 400px;
    margin: 70px auto;
    border-radius: 5px;
    border: 4px solid grey;
    overflow: auto;
    background-color: white;
}

.user-info-form-title{
    color: #D35400;
    background-color: #F9E79F;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center; 
    margin-bottom: 20px;
}
.user-input-label{
    float: left;
    width: 200px;
    text-align: center;
    padding: 10px 7px;
    margin: 10px 30px 15px 50px;
    clear: left;
    background-color: #F9E79F;
    border-style: solid;
    border-radius: 15px;
    border-color: lightgrey;
    font-weight: bold;
    color: #D35400;
}

#about-label{
    margin-top: 55px;
}

#user-name-input,#user-logo-input, #user-about-input, #user-address-input,
#user-phone-input {
    margin: 15px 15px 30px 50px;
    width: 250px;
    line-height: 25px;
}

input:focus {
    border: 2px solid #D35400;
}

.btn {
    width: 100%;
    background-color: #E7E2B4; 
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

#info-btn{
    margin-top: 20px;
    margin-bottom: 0px;
    color: #D35400;
    background-color: #F9E79F;
}

#info-update-btn {
    background-color: #F9E79F;
    width: 30%;
    margin-left: 36%;
    border-style: solid;
    border-radius: 15px;
    border-color: lightgrey;


}